In [8]:
import obspy.core.event as obe
from obspy import read_events
import pandas as pd

In [2]:
cat=read_events("/mnt/DATA2/YiyuanZhong/lp_data/Alaska/alaska_catalog.xml")

In [3]:
len(cat)

121193

In [9]:
cat.events[-1].preferred_origin()

Origin
	 resource_id: ResourceIdentifier(id="smi:local/0422d383-c1ce-4c3d-b97d-b879c8369926")
	        time: UTCDateTime(1989, 10, 14, 16, 10, 11, 70000)
	   longitude: -152.61833333333334
	    latitude: 61.2315
	       depth: 9.52
	        ---------
	    arrivals: 9 Elements

In [13]:
cat.events[-1].extra.source_type.value

'le'

In [17]:
str(cat.events[-1].resource_id).split("/")[-1]

'alsk61831353'

In [21]:
print(cat,print_all=True)

TypeError: 'print_all' is an invalid keyword argument for print()

In [22]:
for event in cat.events:
    print(event)

Event:	1989-10-12T13:14:35.200000Z | +61.452, -151.237 | 1.1  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831343")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/bd1c814e-57b1-4127-b104-cb7090592be3")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/07bc7a73-7126-4522-a4ef-bd49da76f764")
	                   ---------
	                  picks: 8 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements
Event:	1989-10-13T14:49:48.750000Z | +61.227, -152.345 | 0.4  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831348")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/b2680429-2e77-464b-8fda-055d5a5f6c2a")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/e5fe443b-96e1-4f03-a202-a15eed347656")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements
Event:	1989-10-14T16:10:11.070000Z | +61.231, -152.618 | 0.7  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831353")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/0422d383-c1ce-4c3d-b97d-b879c8369926")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/83f2c5ab-0601-4bea-b900-1a87967fec5a")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements

In [27]:
list(cat.__dict__.keys())

['events', 'comments', 'resource_id', 'description', 'creation_info', 'nsmap']

In [30]:
cat.__dict__

{'events': [Event:	1989-10-12T13:14:35.200000Z | +61.452, -151.237 | 1.1  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831343")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/bd1c814e-57b1-4127-b104-cb7090592be3")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/07bc7a73-7126-4522-a4ef-bd49da76f764")
	                   ---------
	                  picks: 8 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements,
  Event:	1989-10-13T14:49:48.750000Z | +61.227, -152.345 | 0.4  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831348")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/b2680429-2e77-464b-8fda-055d5a5f6c2a")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/e5fe443b-96e1-4f03-a202-a15eed347656")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements,
  Event:	1989-10-14T16:10:11.070000Z | +61.231, -152.618 | 0.7  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831353")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/0422d383-c1ce-4c3d-b97d-b879c8369926")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/83f2c5ab-0601-4bea-b900-1a87967fec5a")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements],
 'comments': [],
 'resource_id': smi:local/ad99b300-a70d-41d3-b629-530fea075e66,
 'description': None,
 'creation_info': CreationInfo(),
 'nsmap': {None: 'http://quakeml.org/xmlns/bed/1.2',
  'q': 'http://quakeml.org/xmlns/quakeml/1.2',
  'ns0': 'http://some-page.de/xmlns/1.0'}}

In [31]:
vars(cat)

{'events': [Event:	1989-10-12T13:14:35.200000Z | +61.452, -151.237 | 1.1  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831343")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/bd1c814e-57b1-4127-b104-cb7090592be3")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/07bc7a73-7126-4522-a4ef-bd49da76f764")
	                   ---------
	                  picks: 8 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements,
  Event:	1989-10-13T14:49:48.750000Z | +61.227, -152.345 | 0.4  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831348")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/b2680429-2e77-464b-8fda-055d5a5f6c2a")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/e5fe443b-96e1-4f03-a202-a15eed347656")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements,
  Event:	1989-10-14T16:10:11.070000Z | +61.231, -152.618 | 0.7  ml

	            resource_id: ResourceIdentifier(id="smi:local/alsk61831353")
	    preferred_origin_id: ResourceIdentifier(id="smi:local/0422d383-c1ce-4c3d-b97d-b879c8369926")
	 preferred_magnitude_id: ResourceIdentifier(id="smi:local/83f2c5ab-0601-4bea-b900-1a87967fec5a")
	                   ---------
	                  picks: 9 Elements
	                origins: 1 Elements
	             magnitudes: 1 Elements],
 'comments': [],
 'resource_id': smi:local/ad99b300-a70d-41d3-b629-530fea075e66,
 'description': None,
 'creation_info': CreationInfo(),
 'nsmap': {None: 'http://quakeml.org/xmlns/bed/1.2',
  'q': 'http://quakeml.org/xmlns/quakeml/1.2',
  'ns0': 'http://some-page.de/xmlns/1.0'}}

In [25]:
cat.events[0].preferred_origin().latitude

61.45183333333333

In [1]:
from data import *

In [2]:
alsk=AlaskaDataset()
alsk.read(pathname="./alaska_catalog.xml")

In [8]:
alsk.events[0].origins[0].time.timestamp

624201275.2

In [4]:
alsk.events[0].preferred_magnitude()

Magnitude
	    resource_id: ResourceIdentifier(id="smi:local/07bc7a73-7126-4522-a4ef-bd49da76f764")
	            mag: 1.1
	 magnitude_type: 'ml'
	      origin_id: ResourceIdentifier(id="smi:local/bd1c814e-57b1-4127-b104-cb7090592be3")

In [5]:
alsk.events[0].origins[0].time

1989-10-12T13:14:35.200000Z

In [6]:
alsk.display()

Event alsk61831353: 1989-10-12T13:14:35.200000Z| 61.4518, -151.2367 | 1.1 ml
Event alsk61831353: 1989-10-13T14:49:48.750000Z| 61.2267, -152.3445 | 0.4 ml
Event alsk61831353: 1989-10-14T16:10:11.070000Z| 61.2315, -152.6183 | 0.7 ml

In [6]:
import pandas as pd
# catalog_table = pd.read_csv("/home/zhongyiyuan/DATA/Alaska_data//alaska_catalog.csv")

In [31]:
catalog_table=pd.read_csv("/home/zhongyiyuan/DATA/lp_data/Alaska/alaska_catalog.csv")

In [33]:
catalog_table.drop(catalog_table.index,inplace=True)

In [29]:
catalog_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   source_id              0 non-null      object
 1   source_origin_time     0 non-null      object
 2   source_latitude_deg    0 non-null      float64
 3   source_longitude_deg   0 non-null      float64
 4   source_depth_km        0 non-null      float64
 5   source_magnitude       0 non-null      float64
 6   source_magnitude_type  0 non-null      object
 7   source_type            0 non-null      object
 8   station_network_code   0 non-null      object
 9   station_code           0 non-null      object
 10  station_location_code  0 non-null      object
 11  trace_channel          0 non-null      object
 12  trace_p_arrival_time   0 non-null      object
 13  trace_s_arrival_time   0 non-null      object
 14  trace_p_min_weight     0 non-null      float64
 15  trace_s_min_weight     0 non-null      float64
 16  trace_p_first_motion   0 non-null      object
dtypes: float64(6), object(11)
memory usage: 124.0+ bytes

In [32]:
lp_metadata=catalog_table[catalog_table["source_type"]=="lp"]
lp_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97134 entries, 48 to 881732
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   source_id              97134 non-null  object
 1   source_origin_time     97134 non-null  object
 2   source_latitude_deg    97134 non-null  float64
 3   source_longitude_deg   97134 non-null  float64
 4   source_depth_km        97134 non-null  float64
 5   source_magnitude       97134 non-null  float64
 6   source_magnitude_type  97134 non-null  object
 7   source_type            97134 non-null  object
 8   station_network_code   97134 non-null  object
 9   station_code           97134 non-null  object
 10  station_location_code  97134 non-null  object
 11  trace_channel          97134 non-null  object
 12  trace_p_arrival_time   91862 non-null  object
 13  trace_s_arrival_time   69147 non-null  object
 14  trace_p_min_weight     91862 non-null  float64
 15  trace_s_min_weight     69147 non-null  float64
 16  trace_p_first_motion   29068 non-null  object
dtypes: float64(6), object(11)
memory usage: 13.3+ MB

In [27]:
lp_metadata["source_type"]

48        lp
51        lp
130       lp
131       lp
132       lp
          ..
881715    lp
881729    lp
881730    lp
881731    lp
881732    lp
Name: source_type, Length: 63875, dtype: object

In [25]:
lp_metadata=lp_metadata[(pd.notna(lp_metadata["trace_s_arrival_time"])) &(pd.notna(lp_metadata["trace_p_arrival_time"]))]

In [34]:
lp_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97134 entries, 48 to 881732
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   source_id              97134 non-null  object
 1   source_origin_time     97134 non-null  object
 2   source_latitude_deg    97134 non-null  float64
 3   source_longitude_deg   97134 non-null  float64
 4   source_depth_km        97134 non-null  float64
 5   source_magnitude       97134 non-null  float64
 6   source_magnitude_type  97134 non-null  object
 7   source_type            97134 non-null  object
 8   station_network_code   97134 non-null  object
 9   station_code           97134 non-null  object
 10  station_location_code  97134 non-null  object
 11  trace_channel          97134 non-null  object
 12  trace_p_arrival_time   91862 non-null  object
 13  trace_s_arrival_time   69147 non-null  object
 14  trace_p_min_weight     91862 non-null  float64
 15  trace_s_min_weight     69147 non-null  float64
 16  trace_p_first_motion   29068 non-null  object
dtypes: float64(6), object(11)
memory usage: 13.3+ MB

In [14]:
import sys

In [19]:
sys.getsizeof(catalog_table)/1024

15.4970703125

In [23]:
aa=catalog_table.to_dict("records")
sys.getsizeof(aa)/1024

0.2421875

In [26]:
pd.isna(aa[0]["trace_s_min_weight"])

True

In [55]:
for x in catalog_table.itertuples(name="myname"):
    print(x.source_id,x.source_origin_time,x.trace_p_arrival_time)
    print(type(x))

alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:23.710000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:22.690000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:23.180000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:23.480000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:23.460000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:22.540000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:22.440000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:22.550000Z
<class 'pandas.core.frame.myname'>
alsk61766333 1999-09-15T00:30:22.190000Z 1999-09-15T00:30:23.270000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:17.153333Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:18.880000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:18.870000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:16.200000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:15.880000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:16.723333Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:18.500000Z
<class 'pandas.core.frame.myname'>
alsk61766338 1999-09-15T07:34:15.000000Z 1999-09-15T07:34:17.500000Z
<class 'pandas.core.frame.myname'>
alsk61766343 1999-09-15T07:34:44.790000Z 1999-09-15T07:34:46.973333Z
<class 'pandas.core.frame.myname'>
alsk61766343 1999-09-15T07:34:44.790000Z 1999-09-15T07:34:45.930000Z
<class 'pandas.core.frame.myname'>
alsk61766343 1999-09-15T07:34:44.790000Z 1999-09-15T07:34:45.640000Z
<class 'pandas.core.frame.myname'>
alsk61766343 1999-09-15T07:34:44.790000Z 1999-09-15T07:34:46.450000Z
<class 'pandas.core.frame.myname'>

In [70]:
for x in catalog_table.itertuples(name="myname"):
    print(not pd.isna(x.trace_s_arrival_time), x.trace_s_arrival_time)
    # print(type(x))

False nan
True 1999-09-15T00:30:23.020000Z
True 1999-09-15T00:30:23.950000Z
True 1999-09-15T00:30:24.030000Z
True 1999-09-15T00:30:23.920000Z
True 1999-09-15T00:30:22.700000Z
True 1999-09-15T00:30:22.780000Z
True 1999-09-15T00:30:22.700000Z
True 1999-09-15T00:30:24.180000Z
True 1999-09-15T07:34:18.763333Z
True 1999-09-15T07:34:22.070000Z
False nan
True 1999-09-15T07:34:17.100000Z
False nan
True 1999-09-15T07:34:18.035000Z
True 1999-09-15T07:34:21.200000Z
False nan
True 1999-09-15T07:34:48.406667Z
True 1999-09-15T07:34:46.820000Z
False nan
True 1999-09-15T07:34:47.720000Z

In [81]:
pd.isna(catalog_table["trace_s_arrival_time"][0])
#    print("x")

True

In [86]:
a=np.nan
b=None

In [89]:
if a is None or b is None:
    print("x")

x

In [34]:
%%timeit
for x in catalog_table.iterrows():
    pass

505 µs ± 9.29 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [36]:
%%timeit
aa=catalog_table.to_dict("records")
for x in aa:
    pass

647 µs ± 12.1 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [40]:
from obspy import read_inventory

In [41]:
inv=read_inventory("/home/zhongyiyuan/DATA/Alaska_data/Catalog_readable_format/iris_stations.xml")

In [93]:
inv[0][0].elevation

44.0

In [46]:
sys.getsi

Network 1A (NCISP6 ())
	Station Count: 60/60 (Selected/Total)
	2007-01-01T00:00:00.000000Z - 2008-12-31T23:59:59.999900Z
	Access: open
	Contains:
		Stations (60):
			1A.NE00 (Zhenxing, Dandong, Liaoning, China)
			1A.NE01 (Donggang, Dandong, Liaoning,China)
			1A.NE02 (Donggang, Dandong, Liaoning,China)
			1A.NE03 (Donggang, Dandong, Liaoning,China)
			1A.NE04 (Fengcheng, Dandong, Liaoning, China)
			1A.NE05 (Fengcheng, Dandong, Liaoning, China)
			1A.NE06 (Fengcheng, Dandong, Liaoning, China)
			1A.NE07 (Xiuyan, Anshan, Liaoning, China)
			1A.NE08 (Xiuyan, Anshan, Liaoning, China)
			1A.NE09 (Xiuyan, Anshan, Liaoning, China)
			1A.NE10 (Xiuyan, Anshan, Liaoning, China)
			1A.NE11 (Liaoyang, Liaoning,China)
			1A.NE12 (Liaoyang, Liaoning,China)
			1A.NE14 (Qianshan, Anshan, Liaoning, China)
			1A.NE15 (Tiedong Qu, Anshan Shi,Liaoning,China)
			1A.NE16 (Liaoyang,Liaoning,China)
			1A.NE17 (Liaozhong, Shenyang, Liaoning, China)
			1A.NE18 (Tai'an, Anshan, Liaoning,China)
			1A.NE19 (Tai'an,Anshan,Liaoning,China)
			1A.NE20 (Tai'an, China)
			1A.NE21 (Heishan, Jinzhou, Liaoning, China)
			1A.NE22 (Heishan, Jinzhou,Liaoning, China)
			1A.NE23 (Fuxin, Liaoning, China)
			1A.NE24 (Fuxin, Liaoning, China)
			1A.NE25 (Fuxin, Liaoning, China)
			1A.NE26 (Fuxin, Liaoning, China)
			1A.NE27 (Fuxin, Liaoning, China)
			1A.NE28 (Hure, Tongliao, Inner Mongolia, China)
			1A.NE29 (Naiman, Tongliao, Inner Mongolia, China)
			1A.NE30 (Naiman, Tongliao, Inner Mongolia, China)
			1A.NE31 (Naiman, Tongliao, Inner Mongolia, China)
			1A.NE32 (Naiman, Tongliao, Inner Mongolia, China)
			1A.NE33 (Naiman, Tongliao, Inner Mongolia, China)
			1A.NE34 (Ongniud, Chifeng, Inner Mongolia, China)
			1A.NE35 (Ongniud, Chifeng, Inner Mongolia, China)
			1A.NE36 (Bairin Youqi, Chifeng, Inner Mongolia, China)
			1A.NE37 (Bairin Youqi, Chifeng, Inner Mongolia, China)
			1A.NE38 (Ar Horqin, Chifeng, Inner Mongolia ,China)
			1A.NE39 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE40 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE41 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE42 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE43 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE44 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE45 (Bairin Zuoqi, Chifeng, Inner Mongolia, China)
			1A.NE46 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE47 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE48 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE49 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE50 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE51 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE52 (West Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE53 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE54 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE55 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE56 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE57 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE58 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE59 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
			1A.NE60 (East Ujimqin, Xilin Gol, Inner Mongolia, China)
		Channels (0):